
<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between m-b-8">
      <div class="col-sm-4 col-lg-3">
        <button mat-flat-button color="primary" (click)="openCrearClienteModal()">Nuevo Cliente</button>
      </div>
      <div class="col-sm-4 col-lg-3">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input />
        </mat-form-field>
      </div>
    </div>

    <div class="table-responsive m-t-30">
      <table mat-table [dataSource]="dataSource" class="w-100 mat-elevation-z8">
        <!-- ID Column -->



        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0">
            Nombre
          </th>
          <td mat-cell *matCellDef="let element" class="p-l-0">
            {{ element.nombre }}
          </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="rut">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0">
            Rut
          </th>
          <td mat-cell *matCellDef="let element" class="p-l-0">
            {{ formatRut(element.rut)  }}
          </td>
        </ng-container>
        <ng-container matColumnDef="razonSocial">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0">
            Razon Social
          </th>
          <td mat-cell *matCellDef="let element" class="p-l-0">
            {{ element.razonSocial }}
          </td>
        </ng-container>
        <ng-container matColumnDef="sobrePrecio">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0">
            Sobre Precio Repuestos
          </th>
          <td mat-cell *matCellDef="let element" class="p-l-0">
            {{ element.sobreprecio }} %
          </td>
        </ng-container>
        <ng-container matColumnDef="valorPorLocal">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0">
            Valor Por Local
          </th>
          <td mat-cell *matCellDef="let element" class="p-l-0">
            {{ element.valorPorLocal }} UF
          </td>
        </ng-container>
        <ng-container matColumnDef="logo">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0">
            Logo
          </th>
          <td mat-cell *matCellDef="let element" class="p-l-0">
            @if(element.logo) {
            <img [src]="element.logo" alt="Logo" height="60px">
            } @else {
            <span class="image-not-found"> No hay imagen</span>
            }
          </td>
        </ng-container>
        <!-- Acciones -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0">
            Acciones
          </th>
          <td mat-cell *matCellDef="let element" class="p-l-0">
            <button mat-flat-button color="primary" (click)="openEditarClienteModal(element)">Editar</button>
            <button mat-flat-button color="warn" (click)="openEliminarClienteModal(element)">Eliminar</button>
            <button mat-flat-button color="primary" (click)="agregarDocumento(element)">Agregar Documento</button>
            <button mat-flat-button color="primary" (click)="agregarUsuarioACliente(element)">Agregar Usuario</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="3">
            No se encontraron datos
          </td>
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
