<mat-card>
    <mat-card-header>
      <mat-card-title class="m-b-0">Cambiar Contraseña</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="cambiarPassword()">
        <div class="row">
          <div class="col-sm-4 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Nueva Contraseña</mat-label>
          </div>
          <div class="col-sm-8">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput type="password" formControlName="password" placeholder="Ingrese la nueva contraseña">
              @if (form.get('password')?.invalid) {  
              <mat-error>La contraseña es requerida</mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Repetir Contraseña</mat-label>
          </div>
          <div class="col-sm-8">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput type="password" formControlName="password2" placeholder="Repita la nueva contraseña">
              @if (form.hasError('mismatch')) {
              <mat-error>Las contraseñas no coinciden</mat-error>
              }
            </mat-form-field>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-sm-8">
            <button mat-button type="button" (click)="onCancel()">Cancelar</button>
            <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Cambiar Contraseña</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>