<mat-toolbar class="topbar horizontal-topbar">
  <div class="container">
    <div class="d-none d-sm-flex">
      <app-branding></app-branding>
    </div>
    
    @if(userProfile?.companies?.length === 1) {
      <div>
        <span class="f-s-14 mat-body-1">{{ userProfile.companies[0].nombre }}</span>
      </div>
    }
    
    @if(userProfile?.companies?.length > 1) {
      <div class="m-l-auto">
        <mat-form-field class="theme-select" appearance="outline">
          <mat-label>Seleccionar Compañía</mat-label>
          <mat-select [(value)]="selectedCompany" (selectionChange)="onCompanySelect($event.value)">
            @for(company of userProfile.companies; track company.id) {
              <mat-option [value]="company">
                {{ company.nombre }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    }

    @if(selectedCompany) {
      <div class="m-l-8">
        <img [src]="selectedCompany.logo" width="60" alt="{{ selectedCompany.nombre }}" />
      </div>
    }

    <span class="flex-1-auto"></span>

    <!-- Profile Menu Button -->
    <button mat-fab extended color="inherit" [matMenuTriggerFor]="profileMenu" aria-label="Perfil">
      <div class="d-flex align-items-center">
        <div class="profile-initials-circle">
          {{ getUserInitials() }}
        </div>
        <div class="m-l-16 text-left d-none d-lg-flex">
          <div>
            <h5 class="f-s-16">{{ userName }}</h5>
            <span class="f-s-14 mat-body-1">{{ userRole==='user' ? 'Usuario' : 'Administrador' }}</span>
          </div>
        </div>
      </div>
    </button>

    <!-- Profile Menu -->
    <mat-menu #profileMenu="matMenu" xPosition="before" class="topbar-dd cardWithShadow">
      <ng-scrollbar class="position-relative" style="height:290px">
        <div class="p-x-32 p-y-16">
          <h6 class="f-s-16 f-w-600 m-0 mat-subtitle-1">Perfil de usuario</h6>
          <div class="d-flex align-items-center p-b-24 b-b-1 m-t-16">
            <div class="profile-initials-circle-large">
              {{ getUserInitials() }}
            </div>
            <div class="m-l-16">
              <h6 class="f-s-16 f-w-600 m-0 mat-subtitle-1">{{ userName }}</h6>
              <span class="f-s-14 mat-body-1 d-block m-b-4">{{ userRole==='user' ? 'Usuario' : 'Administrador' }}</span>
              <span class="d-flex align-items-center">
                <i-tabler name="mail" class="icon-15 m-r-4"></i-tabler>
                {{ userEmail }}
              </span>
            </div>
          </div>
        </div>
        <div class="p-y-12 p-x-32">
          <button (click)="logout()"  mat-flat-button color="primary" class="w-100">
            Salir
          </button>
        </div>
      </ng-scrollbar>
    </mat-menu>
  </div>
</mat-toolbar>
