.profile-initials-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3f51b5; /* Cambia el color según tu preferencia */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px; /* Espacio entre el círculo y el texto */
}

.profile-initials-circle-large {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background-color: #3f51b5; /* Cambia el color según tu preferencia */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
}

.user-initials {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color del texto */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}

.company-select-btn {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.company-logo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.company-menu {
  min-width: 200px;
}

::ng-deep .company-menu .mat-menu-item {
  display: flex;
  align-items: center;
}

::ng-deep .company-menu .mat-menu-item img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}
