<mat-toolbar class="topbar horizontal-topbar">
  <div class="container">
    <div class="d-none d-sm-flex">
      <app-branding></app-branding>
    </div>
    
    @if(userProfile?.companies?.length === 1) {
      <div>
        <span class="f-s-14 mat-body-1">{{ userProfile.companies[0].nombre }}</span>
      </div>
    }
    
    @if(userProfile?.companies?.length > 1) {
      <div class="m-l-auto">
        <button mat-button [matMenuTriggerFor]="companyMenu" class="company-select-btn">
          @if (selectedCompany?.logo) {
            <img [src]="selectedCompany.logo" alt="company logo" class="company-logo">
          }
          <span class="ms-2">{{ selectedCompany?.name || 'Seleccionar Cliente' }}</span>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </div>
    }

    @if(selectedCompany) {
      <div class="d-flex align-items-center m-l-8">
        <img [src]="selectedCompany.logo" width="60" alt="{{ selectedCompany.nombre }}" />
        <button mat-icon-button [matMenuTriggerFor]="companyMenu" class="ms-2" matTooltip="Cambiar Cliente">
          <mat-icon>swap_horiz</mat-icon>
        </button>
      </div>
    }

    <span class="flex-1-auto"></span>

    <!-- Profile Menu Button -->
    <button mat-fab extended color="inherit" [matMenuTriggerFor]="profileMenu" aria-label="Perfil">
      <div class="d-flex align-items-center">
        <div class="profile-initials-circle">
          {{ getUserInitials() }}
        </div>
        <div class="m-l-16 text-left d-none d-lg-flex">
          <div>
            <h5 class="f-s-16">{{ userName }}</h5>
            <span class="f-s-14 mat-body-1">{{ userRole==='user' ? 'Usuario' : 'Administrador' }}</span>
          </div>
        </div>
      </div>
    </button>

    <!-- Profile Menu -->
    <mat-menu #profileMenu="matMenu" xPosition="before" class="topbar-dd cardWithShadow">
      <ng-scrollbar class="position-relative" style="height:290px">
        <div class="p-x-32 p-y-16">
          <h6 class="f-s-16 f-w-600 m-0 mat-subtitle-1">Perfil de usuario</h6>
          <div class="d-flex align-items-center p-b-24 b-b-1 m-t-16">
            <div class="profile-initials-circle-large">
              {{ getUserInitials() }}
            </div>
            <div class="m-l-16">
              <h6 class="f-s-16 f-w-600 m-0 mat-subtitle-1">{{ userName }}</h6>
              <span class="f-s-14 mat-body-1 d-block m-b-4">{{ userRole==='user' ? 'Usuario' : 'Administrador' }}</span>
              <span class="d-flex align-items-center">
                <i-tabler name="mail" class="icon-15 m-r-4"></i-tabler>
                {{ userEmail }}
              </span>
            </div>
          </div>
        </div>
        <div class="p-y-12 p-x-32">
          <button (click)="logout()"  mat-flat-button color="primary" class="w-100">
            Salir
          </button>
        </div>
      </ng-scrollbar>
    </mat-menu>
    <button 
    mat-icon-button
    [matBadge]="unreadChanges"
    [matBadgeHidden]="unreadChanges === 0"
    matBadgeColor="warn"
    (click)="openChangelog()"
  >
    <mat-icon>update</mat-icon>
  </button>
    <mat-menu #companyMenu="matMenu" class="company-menu">
      @for (company of userCompanies; track company.id) {
        <button mat-menu-item (click)="onCompanySelect(company)">
          @if (company.logo) {
            <img [src]="company.logo" alt="company logo" class="company-logo">
          }
          <span class="ms-2">{{ company.nombre }}</span>
        </button>
      }
      @empty {
        <button mat-menu-item disabled>No hay compañías disponibles</button>
      }
    </mat-menu>
  </div>
</mat-toolbar>
