<div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
    <!-- Título -->
    <h2 class="mb-4 text-center">Seleccionar Cliente</h2>
  
    <!-- Grilla -->
    <div class="row row-cols-2 row-cols-md-3 g-4 vh-100 w-100">
        <!-- Tarjeta -->
      @for (company of companies; track company.id) {
      <div class="col p-4 ">
        <!-- Tarjeta -->
        <mat-card 
          class="h-100 d-flex align-items-center justify-content-center shadow cursor-pointer"
          (click)="selectCompany(company)">
          <img
            [src]="company.logo"
            [alt]="company.nombre"
            class="img-fluid"
            style="max-width: 80%; max-height: 80%; object-fit: contain;"
          />
        </mat-card>
      </div>
      }
    </div>
  </div>