<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <!-- Agregar botón en la parte superior -->
        <div class="mb-4 d-flex justify-content-end">
            <button mat-raised-button color="primary" 
                    (click)="generarFacturacionManual()"
                    [matTooltip]="'Generar facturación mensual para todos los clientes'">
                <mat-icon>add_circle</mat-icon>
                Generar Facturación Mensual
            </button>
        </div>
      
        <mat-table [dataSource]="dataSource">
            <!-- Definición de la columna 'nombre' -->
            <ng-container matColumnDef="cliente">
                <mat-header-cell *matHeaderCellDef> cliente </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
            </ng-container>

           
            <ng-container matColumnDef="fechaMesFacturacion">    
                <mat-header-cell *matHeaderCellDef> fechaMesFacturacion </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <ng-container *ngIf="element.facturaciones.length === 0; else mostrarCantidad">
                        <button [matTooltip]="'Generar facturacion mensual 24 meses'" 
                                matTooltipPosition="above" mat-icon-button color="primary" 
                                (click)="generarMesFacturacion(element)">
                            <mat-icon>add</mat-icon>
                        </button>
                    </ng-container>
                    <ng-template #mostrarCantidad>
                        <div class="date-range">
                            <mat-icon class="date-icon">date_range</mat-icon>
                            <span class="date-text">
                                {{element.facturaciones[0].fecha_inicio | date:'dd/MM/yyyy' }}
                                <mat-icon class="separator">arrow_forward</mat-icon>
                                {{element.facturaciones[0].fecha_termino | date:'dd/MM/yyyy' }}
                            </span>
                        </div>
                    </ng-template>
                </mat-cell>
            </ng-container>



            <!-- Definición de la columna 'acciones' -->
            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <button  mat-icon-button color="primary" (click)="editarMesDeFacturacion(element.id)" >
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-cell>
            </ng-container> 
            <!-- Fila de encabezado -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <!-- Fila de datos -->
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>
