<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <mat-card-header>
      <mat-card-title class="m-b-0">Crear local</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <form [formGroup]="localForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-4 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Dirección</mat-label>
              </div>
              <div class="col-sm-8">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="Ingrese la dirección" formControlName="direccion" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Comuna</mat-label>
              </div>
              <div class="col-sm-8">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="Ingrese la comuna" formControlName="comuna" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Grupo</mat-label>
              </div>
              <div class="col-sm-8">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="Ingrese el grupo" formControlName="grupo" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Referencia</mat-label>
              </div>
              <div class="col-sm-8">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="Ingrese la referencia" formControlName="referencia" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Teléfono</mat-label>
              </div>
              <div class="col-sm-8">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="Ingrese el teléfono" formControlName="telefono" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Email Local</mat-label>
              </div>
              <div class="col-sm-8">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="Ingrese el email del local" type="email" formControlName="email_local" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Cliente</mat-label>
              </div>
              <div class="col-sm-8">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-select (selectionChange)="onClienteChange($event)" placeholder="Seleccione un cliente" formControlName="cliente">
                    @for (cliente of clientes; track cliente.id) {
                    <mat-option  [value]="cliente.id">
                      {{ cliente.nombre }}
                    </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-4 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Región</mat-label>
              </div>
              <div class="col-sm-8">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="Ingrese la región" formControlName="region" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Zona</mat-label>
              </div>
              <div class="col-sm-8">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="Ingrese la zona" formControlName="zona" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Email Encargado</mat-label>
              </div>
              <div class="col-sm-8">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="Ingrese el email del encargado" type="email" formControlName="email_encargado" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Nombre Encargado</mat-label>
              </div>
              <div class="col-sm-8">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="Ingrese el nombre del encargado" formControlName="nombre_encargado" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Latitud</mat-label>
              </div>
              <div class="col-sm-8">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="Ingrese la latitud" formControlName="latitud" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Longitud</mat-label>
              </div>
              <div class="col-sm-8">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput placeholder="Ingrese la longitud" formControlName="longitud" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-sm-8">
            <button mat-flat-button color="primary" type="submit">Crear Local</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card-content>
</mat-card>
