<!-- Card de Filtros -->
<mat-card class="cardWithShadow mb-4">
  <mat-card-header>
    <mat-card-title>Filtros de Búsqueda</mat-card-title>
  </mat-card-header>
  
  <mat-expansion-panel [expanded]="panelOpenState">
    <mat-expansion-panel-header>
      <mat-panel-description>
        Click para {{ panelOpenState ? 'ocultar' : 'mostrar' }} filtros
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card-content class="p-24">
      <form [formGroup]="programacionForm" (ngSubmit)="onSubmit()">
        <!-- Selector de clientes solo para Gruman -->
        @if (isGruman) {
          <mat-form-field class="w-100">
            <mat-label>Cliente</mat-label>
            <mat-select formControlName="clientId">
              <mat-option>Seleccione un cliente</mat-option>
              @for (cliente of clientes; track cliente.id) {
                <mat-option [value]="cliente.id">
                  {{cliente.nombre}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        }

        <!-- Selector de tipo de servicio -->
        <mat-form-field class="w-100">
          <mat-label>Tipo de Servicio</mat-label>
          <mat-select formControlName="tipoServicio">
            <mat-option>Seleccione un tipo de servicio</mat-option>
            @for (tipo of tiposServicio; track tipo.id) {
              <mat-option [value]="tipo.id">{{tipo.nombre}}</mat-option>
            }
          </mat-select>
          <mat-error *ngIf="programacionForm.get('tipoServicio')?.hasError('required')">
            Debe seleccionar un tipo de servicio
          </mat-error>
        </mat-form-field>

        <!-- Selector de tipo de solicitud -->
        <mat-form-field class="w-100">
          <mat-label>Tipo de Solicitud</mat-label>
          <mat-select formControlName="tipoSolicitud">
            <mat-option>Seleccione un tipo de solicitud</mat-option>
            @for (tipo of tiposSolicitud; track tipo.id) {
              <mat-option [value]="tipo.id">{{tipo.nombre}}</mat-option>
            }
          </mat-select>
          <mat-error *ngIf="programacionForm.get('tipoSolicitud')?.hasError('required')">
            Debe seleccionar un tipo de solicitud
          </mat-error>
        </mat-form-field>

        <!-- Campos de Rango de Fechas -->
        <div class="row" *ngIf="programacionForm.get('tipoBusqueda')?.value === 'rangoFechas'">
          <div class="col-sm-4 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Día Inicio</mat-label>
          </div>
          <div class="col-sm-8">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [matDatepicker]="pickerInicio" formControlName="diaSeleccionadoInicio" placeholder="Seleccionar Día Inicio">
              <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
              <mat-datepicker #pickerInicio></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <!-- Seleccionar Día Término -->
        <div class="row" *ngIf="programacionForm.get('tipoBusqueda')?.value === 'rangoFechas'">
          <div class="col-sm-4 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Día Término</mat-label>
          </div>
          <div class="col-sm-8">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [matDatepicker]="pickerTermino" formControlName="diaSeleccionadoTermino" placeholder="Seleccionar Día Término">
              <mat-datepicker-toggle matSuffix [for]="pickerTermino"></mat-datepicker-toggle>
              <mat-datepicker #pickerTermino></mat-datepicker>
              <mat-error *ngIf="programacionForm.hasError('fechaTerminoMayorQueInicio')">
                La fecha de término no puede ser menor que la de inicio.
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Mes de Facturación -->
        <div class="row" *ngIf="programacionForm.get('tipoBusqueda')?.value === 'mesFacturacion'">
          <div class="col-sm-4 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Mes de Facturación</mat-label>
          </div>
          <div class="col-sm-8">
            <mat-form-field *ngIf="programacionForm.get('tipoBusqueda')?.value === 'mesFacturacion'">
                <mat-label>Mes de Facturación</mat-label>
                <mat-select formControlName="mesFacturacion">
                    @for (mes of meses; track mes.valor) {
                        <mat-option [value]="mes.valor">{{ mes.nombre }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- Tipo de Búsqueda -->
        <div class="row">
          <div class="col-sm-4 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Tipo de Búsqueda</mat-label>
          </div>
          <div class="col-sm-8">
            <mat-radio-group formControlName="tipoBusqueda">
              <mat-radio-button value="rangoFechas">Rango de Fechas</mat-radio-button>
              <mat-radio-button value="mesFacturacion">Mes de Facturación</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 d-flex justify-content-end">
            <button mat-flat-button color="primary" type="submit">Buscar</button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-expansion-panel>
</mat-card>

<!-- Card de Resultados -->
@if (serviciosRealizados.length > 0) {
  <mat-card class="cardWithShadow">
    <mat-card-header>
      <mat-card-title>Resultados de la Búsqueda</mat-card-title>
      <mat-card-subtitle>Total: {{serviciosRealizados.length}} registros encontrados </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="p-24">
      <div >
        <table mat-table [dataSource]="serviciosRealizados" class="w-100">
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Numero de solicitud</th>
            <td mat-cell *matCellDef="let servicio"> {{servicio.id}} </td>
          </ng-container>

          <!-- Fecha Column -->
          <ng-container matColumnDef="fechaIngreso">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let servicio"> {{formatDate(servicio.fechaIngreso)}} </td>
          </ng-container>

          <!-- Tipo Mantenimiento Column -->
          <ng-container matColumnDef="tipo_mantenimiento">
            <th mat-header-cell *matHeaderCellDef> Tipo Mantenimiento </th>
            <td mat-cell *matCellDef="let servicio"> {{servicio.tipo_mantenimiento}} </td>
          </ng-container>

          <!-- Tipo Servicio Column -->
          <ng-container matColumnDef="tipoServicio">
            <th mat-header-cell *matHeaderCellDef> Tipo Servicio </th>
            <td mat-cell *matCellDef="let servicio"> {{servicio.tipoServicio?.nombre}} </td>
          </ng-container>

          <!-- Local Column -->
          <ng-container matColumnDef="local">
            <th mat-header-cell *matHeaderCellDef>Local</th>
            <td mat-cell *matCellDef="let servicio" 
                [matTooltip]="servicio.local?.direccion || 'Dirección no disponible'"
                matTooltipPosition="above">
              {{servicio.local?.nombre_local}}
            </td>
          </ng-container>

         

          <!-- Técnico Column -->
          <ng-container matColumnDef="tecnico">
            <th mat-header-cell *matHeaderCellDef> Técnico </th>
            <td mat-cell *matCellDef="let servicio"> 
              {{servicio.tecnico_asignado?.name}} {{servicio.tecnico_asignado?.lastName}}
            </td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let servicio"> {{servicio.status}} </td>
          </ng-container>

          <!-- Observaciones Column -->
          <ng-container matColumnDef="observaciones">
            <th mat-header-cell *matHeaderCellDef> Observaciones </th>
            <td mat-cell *matCellDef="let servicio"> {{servicio.observaciones}} </td>
          </ng-container>

          <!-- fecha validacion -->
          <ng-container matColumnDef="fechaValidacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Validación</th>
            <!-- formatear con pipepipe  -->
            <td mat-cell *matCellDef="let servicio">
              {{ servicio.fecha_hora_validacion ? (servicio.fecha_hora_validacion | date:'dd/MM/yyyy HH:mm') : 'Sin fecha' }}
            </td>
          </ng-container>
          <!-- Acciones Column -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let servicio">
              <button mat-icon-button color="primary" (click)="verDetalle(servicio)" matTooltip="Ver en nueva pestaña">
                <mat-icon>visibility</mat-icon>
              </button>
           <!--    @if (isGruman) {
                <button mat-raised-button (click)="aprobarSolicitud(servicio)" 
                        color="primary" 
                        matTooltip="Aprobar solicitud">
                 <mat-icon style="color: #28a745">check_circle</mat-icon> 
                </button>
                
                <button mat-raised-button (click)="rechazarSolicitud(servicio)" 
                        color="warn" 
                        matTooltip="Rechazar solicitud">
                   <mat-icon>cancel</mat-icon> 
                </button>
              } -->
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
}