<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <form [formGroup]="clienteUsuarioForm" (ngSubmit)="onSubmit()">
  
        <!-- Seleccionar Cliente -->
      <!--   <div class="row">
          <div class="col-sm-4 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Cliente</mat-label>
          </div>
          <div class="col-sm-8">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="clientId" placeholder="Seleccionar Cliente">
                @for (cliente of clientes; track cliente.id) {
                <mat-option [value]="cliente.id">
                  {{ cliente.nombre }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div> -->
  
        <!-- Seleccionar Perfil -->
        <div class="row">
          <div class="col-sm-4 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Perfil</mat-label>
          </div>
          <div class="col-sm-8">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="perfil" placeholder="Seleccionar Perfil">
                @for (perfil of perfiles; track perfil) {
                <mat-option [value]="perfil">
                  {{ perfil }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>
  
        <!-- Nombre de Usuario -->
        <div class="row">
          <div class="col-sm-4 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Nombre </mat-label>
          </div>
          <div class="col-sm-8">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput formControlName="name" placeholder="Ingrese Nombre">
            </mat-form-field>
          </div>
        </div>
  <!-- Apellido -->
  <div class="row">
    <div class="col-sm-4 d-flex align-items-center">
      <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Apellido</mat-label>
    </div>
    <div class="col-sm-8">
      <mat-form-field appearance="outline" class="w-100">
        <input matInput formControlName="lastName" placeholder="Ingrese Apellido">
      </mat-form-field>
    </div>
  </div>
        <!-- Email -->
        <div class="row">
          <div class="col-sm-4 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Email</mat-label>
          </div>
          <div class="col-sm-8">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput formControlName="email" placeholder="Ingrese Email">
            </mat-form-field>
          </div>
        </div>
  
        <!-- RUT -->
        <div class="row">
          <div class="col-sm-4 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">RUT</mat-label>
          </div>
          <div class="col-sm-8">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput formControlName="rut" placeholder="Ingrese RUT">
            </mat-form-field>
          </div>
        </div>
  
        <!-- Contraseña -->
        <div class="row">
          <div class="col-sm-4 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Contraseña</mat-label>
          </div>
          <div class="col-sm-8">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput type="password" formControlName="password" placeholder="Ingrese Contraseña">
            </mat-form-field>
          </div>
        </div>
  
        <!-- Repetir Contraseña -->
        <div class="row">
          <div class="col-sm-4 d-flex align-items-center">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Repetir Contraseña</mat-label>
          </div>
          <div class="col-sm-8">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput type="password" formControlName="repetirContrasena" placeholder="Repetir Contraseña">
            </mat-form-field>
          </div>
        </div>
  
        <!-- QUIERO UNA GRILLA DE 4 COLUMNAS CON LAS FOTOS DE LOS CLIENTES  -->
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16 text-center">Seleccionar cliente/s</mat-label>
        <div class="client-grid">
          @for (cliente of clientes; track cliente.id) {
          <div class="client-item-container">
            <div
              (click)="toggleClientSelection(cliente.id)"
              [class.selected]="selectedClientIds.includes(cliente.id)"
              class="client-item"
            >
              <img [src]="cliente.logo" alt="Foto del Cliente" />
            </div>
            <div class="client-name">{{ cliente.nombre }}</div>
          </div>
          }
        </div>


        <!-- AVA UN SEMAFORO QUE VALIDE LA SEGFURIDAD DE LA CONTRASEÑA INGRESADA -->
      
        




        <!-- Botón de Enviar -->
        <div class="row">
          <div class="col-sm-12 text-right m-t-16">
            <button mat-button type="button" (click)="onCancel()">Cancelar</button>
            <button mat-raised-button color="primary" 
                    [disabled]="!isFormValid()"
                    >
              Enviar
            </button>
          </div>
        </div>
  
      </form>


    </mat-card-content>
  </mat-card>