.selected {
    border: 3px solid blue; /* Cambia el color y el grosor según tus preferencias */
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Añade un efecto de sombra */
    border-radius: 50%; /* Asegúrate de que el borde siga la forma circular de la imagen */
  }