<div class="row">
  <div class="col-lg-12">
    <mat-card class="cardWithShadow">
      <mat-card-header>
        <div class="d-flex align-items-center justify-content-between w-100">
          <div>
            <mat-card-title>Escritorio Atlantis</mat-card-title>
          <mat-card-subtitle class="mat-body-1">
            <span style="display: block; height: 30px;" class="mock"> </span>
          </mat-card-subtitle>
          </div>
        </div>
      </mat-card-header>
   <mat-card-content>
        <div class="m-t-35 m-b-24">
          <div class="row">
            <div class="col-12">
              <div class="d-flex flex-wrap justify-content-between">
            
                <div class="card-container" [routerLink]="['/transacciones/solicitudes-de-visita/pendientes']" style="cursor: pointer;">
                  <mat-card class="cardWithShadow bg-primary text-white">
                    <mat-card-content>
                      <mat-icon>assignment_late</mat-icon>
                      <div class="m-t-35">
                        <h5 class="f-w-600 f-s-21 m-0">{{ pendientes }}</h5>
                        <span class="f-s-14"> Pendientes de Autorización</span>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>

              
                <div class="card-container" [routerLink]="['/transacciones/solicitudes-de-visita/aprobadas']" style="cursor: pointer;">
                  <mat-card class="cardWithShadow bg-primary text-white">
                    <mat-card-content>
                      <mat-icon>done_all</mat-icon>
                      <div class="m-t-35">
                        <h5 class="f-w-600 f-s-21 m-0">{{ aprobadas }}</h5>
                        <span class="f-s-14">Solicitudes Aprobadas</span>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>

            
                <div class="card-container">
                  <mat-card class="cardWithShadow bg-primary text-white">
                    <mat-card-content>
                      <mat-icon> local_shipping</mat-icon>
                      <div class="m-t-35">
                        <h5 class="f-w-600 f-s-21 m-0">{{ servicio }}</h5>
                        <span class="f-s-14">En servicio</span>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
               
               
                <div class="card-container" [routerLink]="['/transacciones/solicitudes-de-visita/finalizadas']" style="cursor: pointer;">
                  <mat-card class="cardWithShadow bg-primary text-white">
                    <mat-card-content>
                      <mat-icon>flag_2</mat-icon>
                      <div class="m-t-35">
                        <h5 class="f-w-600 f-s-21 m-0">{{ count_proximas_visitas_preventivas }}</h5>
                        <span class="f-s-14">Finalizadas</span>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="card-container">
                  <mat-card class="cardWithShadow bg-primary text-white">
                    <mat-card-content>
                      <mat-icon>cancel</mat-icon>
                      <div class="m-t-35">
                        <h5 class="f-w-600 f-s-21 m-0">{{rechazadas}}</h5>
                        <span class="f-s-14">Rechazadas</span>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="card-container" [routerLink]="['/transacciones/solicitudes-de-visita/validadas']" style="cursor: pointer;">
                  <mat-card class="cardWithShadow bg-primary text-white">
                    <mat-card-content>
                      <mat-icon>verified</mat-icon>
                      <div class="m-t-35">
                        <h5 class="f-w-600 f-s-21 m-0">{{validadas}}</h5>
                        <span class="f-s-14">Validadas</span>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="card-container" [routerLink]="['/transacciones/solicitudes-de-visita/atendidas-en-proceso']" style="cursor: pointer;">
                  <mat-card class="cardWithShadow bg-primary text-white">
                    <mat-card-content>
                      <mat-icon>sync</mat-icon>
                      <div class="m-t-35">
                        <h5 class="f-w-600 f-s-21 m-0">{{atendida_en_proceso}}</h5>
                        <span class="f-s-14">En Proceso</span>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
             <!--
                <div class="card-container">
                  <mat-card class="cardWithShadow bg-primary text-white">
                    <mat-card-content>
                      <mat-icon>check_circle</mat-icon>
                      <div class="m-t-35">
                        <h5 class="f-w-600 f-s-21 m-0">{{ count_cumplimiento_preventivos }}%</h5>
                        <span class="f-s-14">Cumplimiento Preventivos</span>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>

              
                <div class="card-container">
                  <mat-card class="cardWithShadow bg-primary text-white">
                    <mat-card-content>
                      <mat-icon>attach_money</mat-icon>
                      <div class="m-t-35">
                        <h5 class="f-w-600 f-s-21 m-0">{{ count_gastos_repostos | currency }}</h5>
                        <span class="f-s-14">Gastos Repuestos</span>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
 -->
              
             <!--    <div class="card-container">
                  <mat-card class="cardWithShadow bg-primary text-white">
                    <mat-card-content>
                      <mat-icon>trending_up</mat-icon>
                      <div class="m-t-35">
                        <h5 class="f-w-600 f-s-21 m-0">{{ count_performance_reactivos }}%</h5>
                        <span class="f-s-14">Performance Reactivos</span>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
