<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <div class="row justify-content-between m-b-8">
            <div class="col-sm-4 col-lg-3">
                <button mat-flat-button  color="primary" (click)="createTecnicoGruman()">Nuevo Técnico</button>
            </div>
            <div class="col-sm-4 col-lg-3 text-end">
                <button mat-stroked-button color="primary" (click)="exportarExcel()">
                    <mat-icon>file_download</mat-icon>
                    Exportar a Excel
                </button>
            </div>
        </div>

        <!-- Búsqueda -->
        <div class="row mb-3">
            <div class="col-md-6 mb-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Buscar por nombre</mat-label>
                    <input matInput (keyup)="applyFilter($event, 'name')" placeholder="Ingrese nombre">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6 mb-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Buscar por RUT</mat-label>
                    <input matInput (keyup)="applyFilter($event, 'rut')" placeholder="Ingrese RUT">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
        </div>

        <div class="table-responsive m-t-30">
            <mat-table [dataSource]="dataSource" class="w-100">
                <!-- Nombre Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} {{element.lastName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="rut">
                    <mat-header-cell *matHeaderCellDef> Rut </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.rut | rutFormat}} </mat-cell>
                </ng-container>
                <!-- Especialidades Column -->
                <ng-container matColumnDef="especialidades"> 
                    <mat-header-cell *matHeaderCellDef> Especialidades </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{getEspecialidadesNombres(element.especialidades)}} </mat-cell>
                </ng-container>

                <!-- Acciones Column -->
                <ng-container matColumnDef="acciones">
                    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <button mat-icon-button (click)="editTecnicoGruman(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteTecnicoGruman(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" (click)="cambiarPassword(element)">
                            <mat-icon>lock</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </mat-card-content>
</mat-card>