<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between m-b-8">
      <div class="col-sm-4 col-lg-3">
        <button mat-flat-button color="primary" (click)="openCrearRepuesto()">  Nuevo Repuesto</button>
      </div>
      <div class="col-sm-4 col-lg-3">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input />
        </mat-form-field>
      </div>
    </div>

    <div class="table-responsive m-t-30">
      <table mat-table [dataSource]="dataSource" matSort class="w-100 mat-elevation-z8">
        <!-- ID Column -->
     <!--    <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14 p-l-0"> ID </th>
          <td mat-cell *matCellDef="let element" class="p-l-0"> {{element.id}} </td>
        </ng-container> -->

        <!-- Familia Column -->
        <ng-container matColumnDef="familia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14 p-l-0"> Familia </th>
          <td mat-cell *matCellDef="let element" class="p-l-0"> {{element.familia}} </td>
        </ng-container>

        <!-- Artículo Column -->
        <ng-container matColumnDef="articulo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14 p-l-0"> Artículo </th>
          <td mat-cell *matCellDef="let element" class="p-l-0"> {{element.articulo}} </td>
        </ng-container>

        <!-- Marca Column -->
        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14 p-l-0"> Marca </th>
          <td mat-cell *matCellDef="let element" class="p-l-0"> {{element.marca}} </td>
        </ng-container>
        <!-- Codigo de barra Column -->
        <ng-container matColumnDef="codigoBarra">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14 p-l-0"> Codigo de Barra </th>
          <td mat-cell *matCellDef="let element" class="p-l-0"> {{element.codigoBarra}} </td>
        </ng-container>
        <!-- Precio Column -->
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14 p-l-0"> Precio Venta </th>
          <td mat-cell *matCellDef="let element" class="p-l-0"> {{element.precio| currency:'CLP':'symbol':'1.0-0':'es-CL'}} </td>
        </ng-container>
        <!-- Sobreprecio Column -->
        <ng-container matColumnDef="sobreprecio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14 p-l-0"> Sobreprecio </th>
          <td mat-cell *matCellDef="let element" class="p-l-0"> {{element.sobreprecio| currency:'CLP':'symbol':'1.0-0':'es-CL'}} </td>
        </ng-container>
        
        <!-- Precio Neto Compra Column -->
        <ng-container matColumnDef="precioNetoCompra">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14 p-l-0"> Precio Neto Compra </th>
          <td mat-cell *matCellDef="let element" class="p-l-0"> {{element.precioNetoCompra| currency:'CLP':'symbol':'1.0-0':'es-CL'}} </td>
        </ng-container>

        <!-- IVA Column -->
        <ng-container matColumnDef="precioIva">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14 p-l-0"> IVA </th>
          <td mat-cell *matCellDef="let element" class="p-l-0"> {{element.precioIva| currency:'CLP':'symbol':'1.0-0':'es-CL'}} </td>
        </ng-container>
        <ng-container matColumnDef="precioBruto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 mat-subtitle-1 f-s-14 p-l-0"> Precio Bruto </th>
          <td mat-cell *matCellDef="let element" class="p-l-0"> {{ element.precioBruto | currency:'CLP':'symbol':'1.0-0':'es-CL' }} </td>
        </ng-container>
        <!-- Acciones -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0"> Acciones </th>
          <td mat-cell *matCellDef="let element" class="p-l-0">
            <button mat-icon-button color="primary" (click)="openEditarRepuestoModal(element)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="openEliminarRepuestoModal(element)"><mat-icon>delete</mat-icon></button>
<!--             <button mat-flat-button color="primary" (click)="agregarDocumento(element)">Agregar Documento</button>
 -->          </td>
        </ng-container>


        <!-- Header and Row Definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
